*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;

}
a{
    text-decoration: none;
}

body{
    font-family: "Epilogue", sans-serif;
}

.container{
    max-width: 1196px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
    align-items: center;
}

header nav{
    padding: 24px 0;
}
header .menu a{
    color: #2d2d2d;
    font-size: 17px;
    line-height: 159%;
    margin: 0 12px;
}

.hero{
    padding: 58px 56px;
}

.hero h3{
    font-size: 20px;
}

.hero h2{
    margin: 24px 0;
    font-size: 68px;
}

.button{
    width: 211px;
    height: 78px;
    background: #2d2d2d;
    cursor: pointer;
    margin: 48px 0;
    
}
.button a{
    color: #fff;
    font-size: 17px;
    line-height: 159%;
}

.work h2{
    margin: 42px 0;
    text-align: center;
}

.project{
    width: 33.3%;

}